.navbar{
    grid-area: navbar;
    background-color: #014afe;
    color: #fff;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.asidebar{
    grid-area: asidebar;
    background-color: #fd9d10;
    padding: 5%;

}
.footer{
    grid-area: footer;
    background-color: #014afe;
    color: #fff;
    min-height: 10vh;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.footer a{
    font-size: xx-small;
    color: #fff;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar navbar navbar navbar navbar'
    'asidebar main main main main main main main'
    'footer footer footer footer footer footer footer footer';
    font-family: 'Radio Canada', sans-serif;
}
.category{
    display: flex;
    flex-direction: column;
}
.category a{
    color: rgb(31, 30, 30);
    text-decoration: none;
}
.category a:hover{
    color: rgb(85, 83, 83);
    text-decoration: underline ;
}
.category ul{
    list-style-type: none;
    font-weight: 500;
    line-height: 5vh;
}
.numberStock{
    font-weight: 300;
    color: rgb(67, 58, 58);
}
.main{
    background-color: #02b54f;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    grid-area: main;
    padding: 3%;
    padding-bottom: 10%;
}
.card{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20vw;
    
}
.card img{
    margin: 3%;
    height: 100%;
}
.card h4{
    color: rgb(31, 30, 30);
}
.footerCard{
    margin-top: 1vh;
    padding: 2%;
    background-color: #fd1126;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerCard:hover{
    margin-top: 1.3vh;
    padding: 3%;
    background-color: #fd9d10;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: larger;
}